<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>startWithGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>383DA1B11E7E1B8500AF8247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>383DA1C81E7E1B8500AF8247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>383DA1D31E7E1B8500AF8247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
